    <h1><%= @author.name %></h1>
    <% @books.each do |book| %>
      <div id="book-<%= book.id %>-container">
        <%= link_to(book.title, book_path(book.id), id: "book-title-#{book.id}") %>
        <p>Page Count: <%= book.page_count %></p>
        <p>Publish Year: <%= book.publish_year %></p>
        <% if book.authors.size > 1 %>
          <% additional_authors = book.authors - [@author] %>
          <% additional_authors.each do |extra_auth|%>
            <p>Additional Author: <%= link_to(extra_auth.name, author_path(extra_auth)) %></p>
          <% end %>
        <% end %>
        <% if book.top_review %>
          <h6>Top Review:</h6>
          <p>
            <%= book.top_review.title %>
            Rating: <%= book.top_review.rating %>
            --<%= book.top_review.user.name %>
          </p>
        <% end %>
      </div>
      <p><%= button_to "Delete Author",  author_path(@author), method: :delete, data: {confirm: "Are you sure?"}  %>

    <% end %>
