<%= form_tag("/users/#{@user.id}", method: :get) do -%>
  <%= select_tag "credit_card", options_for_select([ "VISA", "MasterCard" ]) %>
# => <select id="credit_card" name="credit_card"><option>VISA</option>
#    <option selected="selected">MasterCard</option></select>
<% end -%>

<%= form_for() %>
  <%= f.select() %>
<% end %>

<form class="flex-form" action="/users/<%= @user_id %>" method="GET">
  <p>Sort Reviews: </p>
  <label for="review-sort-rating">By Rating</label>
  <select id='review-sort-rating' name="review_sort[rating]">
    <option id='rating-asc' value="asc">Ascending</option>
    <option id='rating-desc' value="desc">Descending</option>
  </select>
  <label for="review-sort-date">By Date</label>
  <select id='review-sort-date' name="review_sort[date]">
    <option id='date-asc' value="asc">Ascending</option>
    <option id='date-desc' value="desc">Descending</option>
  </select>
  <input type="submit" name="sort-user-reviews" value="Sort">
</form>
