<h1><%= @user.name %></h1>
<%= render partial: 'users/reviews_sort_form' %>
<% @reviews.each do |review| %>
  <div id="review review-<%= review.id%>-container">
    <h4>Review For: <%= link_to(review.book.title, book_path(review.book.id), id: "book-title-#{review.book.id}") %></h4>
    <h5><%= review.title %></h5>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.text %></p>
    <p><%= button_to "Delete Review",  review_path(review), method: :delete, data: {confirm: "Are you sure?"}  %>
</p>
  </div>
<% end %>
