<section class='stats'>
  <h2>Statistics</h2>
  <div class="flex-container">
    <div class="info-container stats-info top_three">
      <h4>Top Books</h4>
      <ol>
      <% @top_three.each do |b| %>
        <li>Book: <%= link_to(b.title, book_path(b), id: "book-title-#{b.id}") %>, Average Rating: <%= b.reviews.average(:rating).round(2) %></li>
      <% end %>
      </ol>
    </div>
    <div class="info-container stats-info bottom_three">
      <h4>Bottom Books</h4>
      <ol>
      <% @bottom_three.each do |b| %>
        <li>Book: <%= link_to(b.title, book_path(b), id: "book-title-#{b.id}") %>, Average Rating: <%= b.reviews.average(:rating).round(2) %></li>
      <% end %>
      </ol>
    </div>
    <div class="info-container stats-info top_reviewers">
      <h4>Our Top Reviewers</h4>
      <ol>
      <% @top_users.each do |u| %>
        <li>User: <%= link_to(u.name, user_path(u), id: "user-name-#{u.id}") %>, Total Reviews: <%= u.reviews.count %></li>
      <% end %>
      </ol>
    </div>
    <div class="info-container stats-info top_authors">
      <h4>Our Top Authors</h4>
      <ol>
        <% @top_authors.each do |a| %>
          <li>Author: <%= link_to(a.name, author_path(a), id: "author-#{a.id}") %>, Average Rating: <%= a.books.joins(:reviews).average(:rating) %></li>
        <% end %>
      </ol>
    </div>
  </div>

</section>
