<%= render partial: "/stats" %>
    <div class="flex-container">
    <% @books.each do |b| %>

      <div class="info-container">

        <h4><%= link_to(b.title, book_path(b), id: "book-title-#{b.id}") %></h4>

        <p>
          <span class="data-label">
            <%= b.authors.count > 1 ? "Authors: " : "Author: " %>
          </span>
          <% b.authors.each do |a| %>
            <span class="datum">
              <%= link_to(a.name, author_path(a), id: "author-#{a.id}") %>
            </span>
          <% end %>
        </p>
        <% average_rating = b.reviews.average(:rating) %>
        <p>
          <span class="data-label"> Average Rating: </span>
          <span class="datum"><%= average_rating.round(2) if average_rating %></span>
        </p>
        <p>
          <span class="data-label"> Total Reviews: </span>
          <span class="datum"><%= b.reviews.count %></span>
        </p>
        <p>
          <span class="data-label"> Page Count: </span>
          <span class="datum"><%= b.page_count %></span>
        </p>
        <p>
          <span class="data-label"> Publish Year: </span>
          <span class="datum"><%= b.publish_year %></span>
        </p>
      </div>
      <% end %>
      <%= link_to "Add a book", new_book_path %>

    </div>
