<h1>Add a book to our database</h1>

<ul>
<% @book.errors.full_messages.each do |error| %>

  <li><%= error %></li>
<% end %>
</ul>

<%= form_for(@book) do |f| %>
  <%= f.label :authors %>
  <%= f.text_field :authors, value: ""%>

  <%= f.label :book_title%>
  <%= f.text_field :title%>

  <%= f.label :page_count%>
  <%= f.text_field :page_count%>

  <%= f.submit %>
<% end %>
