<h1><%= @book.title %></h1>
<% if @authors.size == 1 %>
  <h3>Author:</h3>
  <h2><%= link_to(@authors.first.name, author_path(@authors.first), id: "author-#{@authors.first.id}") %></h2>
<% else %>
  <h3>Authors:</h3>
  <%= @authors.each do |author| %>
    <h2><%= link_to(author.name, author_path(author.id)) %></h2>
  <% end %>
<% end %>
<p>page count: <%= @book.page_count %></p>
<p>publish_year: <%= @book.publish_year %></p>

<% unless @top_reviews.empty? && @bottom_reviews.empty? %>
<section class='review-stats'>
  <h2>Review Statistics</h2>
    <p>Average Review Score: <%= @book.average_review %></p>
    <div class="top-reviews">
      <% @top_reviews.each do |r| %>
        <p>User: <%= r[2] %></p>
        <p>Title: <%= r[0] %></p>
        <p>Rating: <%= r[1] %></p>
      <% end %>
    </div>
  <% unless @bottom_reviews.empty? %>
    <div class="bottom-reviews">
      <% @bottom_reviews.each do |r| %>
        <p>User: <%= r[2] %></p>
        <p>Title: <%= r[0] %></p>
        <p>Rating: <%= r[1] %></p>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>

<h2>Reviews:</h2>
<% @reviews.each do |review| %>
  <p>Title: <%= review.title %></p>
  <p>User: <%=link_to(review.user.name, user_path(review.user))%></p>
  <p>Rating: <%= review.rating %></p>
  <p><%= review.text %></p>
<% end %>
<%= button_to "Delete Book",  book_path(@book), method: :delete, data: {confirm: "Are you sure?"}  %>

<%= link_to 'Add a Review', new_book_review_path(@book.id) %> |
