<section class='stats'>
  <h2>Statistics</h2>
  <div class="flex-container">
    <div class="info-container stats-info top_three">
      <h4>Top Books</h4>
      <ol>
      <% @top_three.each do |b| %>
        <li>Book: <%= b[0] %>, Average Rating: <%= b[1] %></li>
      <% end %>
      </ol>
    </div>
    <div class="info-container stats-info bottom_three">
      <h4>Bottom Books</h4>
      <ol>
      <% @bottom_three.each do |b| %>
        <li>Book: <%= b[0] %>, Average Rating: <%= b[1] %></li>
      <% end %>
      </ol>
    </div>
    <div class="info-container stats-info top_reviewers">
      <h4>Our top reviewers</h4>
      <ol>
      <% @top_users.each do |u| %>
        <li>User: <%= link_to(u[1], user_path(u[0]), id: "user-name-#{u[0]}") %>, Review Count: <%= u[2] %></li>
      <% end %>
      </ol>
    </div>

  </div>

</section>
